* {
    margin: 0;
    padding: 0;
}
/*MODIFICHE HEADER:*/

.logo {
    vertical-align: middle;
}

.title {
    vertical-align: middle;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*CREATO SFONDO GRIGIO E CONTENITORE BIANCO:*/

.white-box {
    background-color: rgb(253, 252, 252);
    width: 800px;
    height: 800px;
    display: inline-block;
    margin-top: 80px;
    margin-left: 350px;
}

main {
    background-color: rgb(230, 224, 224);
    height: 1500px;
    height: 1000px;
}

/*CREATI BOTTONI:*/

.button {
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.task {
    background-color: rgb(47, 131, 228);
    padding: 10px 15px;
    border-radius: 15px;
    border-color: rgb(47, 131, 228);
    color: white;
    font-size: 15px;
    margin-left: 30px;
}

.section {
    background-color:white;
    padding: 10px 20px;
    border-radius: 15px;
    border-color: rgb(187, 184, 184);
    color: rgb(187, 184, 184);
    font-size: 15px;
    margin-left: 5px;
}

/*MODIFICHE SEZIONE NEW TASK:*/
.new-task {
    vertical-align: middle;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.simbol {
    vertical-align: middle;
}
.conteiner {
    padding-top: 30px;
    padding-left: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

ul {
    list-style: none;
    font-size: 20px;
    margin-top: 10px;
    
    
}
.check {
    border: 1px solid rgb(58, 238, 58);
    border-radius: 50px;
    color:rgb(58, 238, 58) ;
    vertical-align: bottom;
}
.newsletter {
    padding-left: 15px;
    vertical-align: middle;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.ticket {
    vertical-align: bottom;
    background-color: rgb(47, 131, 228);
    border: 1px solid rgb(47, 131, 228) ;
    border-radius: 15px;
    padding: 5px;
    color: white;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*MODIFICHE SEZIONE TODAY:*/
.today {
    padding-top: 30px;
}
.viola {
    background-color: rgb(173, 39, 173);
    border-color: rgb(173, 39, 173);
}
li {
padding-top: 10px;
}
.cross {
    border: 1px solid red;
    border-radius: 50px;
    color:red ;
    vertical-align: bottom;

}
.green {
    background-color: rgb(104, 172, 133);
    border-color:rgb(104, 172, 133) ;
}
.orange {
    background-color: orangered;
    border-color: orangered;
}

/*MODIFICHE SEZIONE UPCOMING:*/
.upcoming {
    padding-top: 30px;
}
.pink {
    background-color: orchid;
    border-color: orchid;
}
.yellow {
    background-color: yellowgreen;
    border-color: yellowgreen;
}

/*FOOTER:*/
footer {
    font-size: 30px;
    color: palevioletred;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}